
<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>My personal portfolio</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">CHETNA KUMBHARE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'home' %}">Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="">Blog<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/chetna.kumbhare.948" target="_blank">Facebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/chetna-kumbhare-bb9244124/" target="_blank">LinkedIn</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% static '0801cs151023_BE_CS_Chetna_Kumbhare(1).pdf' %}">Resume</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main role="main">
    <div class="container"><br><br>
      <h1 class="text-center pt-5">Welcome to Chetna's Blog</h1>
      <br><br>
      <h2><i class="fas fa-file-alt"></i> Latest Posts</h2>
      <hr>
      {% for blog in blogs.all %}
      <a href="{% url 'detail' blog.id %}"><h3>{{ blog.title }}</h3></a>
      {{ blog.pub_date_pretty }}<br>
      <img class=".img-fluid" src="{{ blog.image.url }}" height="200px" width="400px"/>
      <br>
      <p>{{ blog.summary }}</p>
      {% endfor %}
      <div>
      </main>
      <footer class="text-muted text-center ">
        <div class="container-fluid">
          <p class="float-right">
            <a href="#" style="color:#5bb7c6"><i class="fas fa-arrow-alt-circle-up"></i></a>
          </p>
          <p>CopyRight Chetna_Kumbhare@{% now "Y" %} </p>
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
    </html>
